# --- 파이썬 관련 (필수) ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# --- 도커 및 데이터베이스 (가장 중요) ---
# 권한 에러 방지 및 로컬 데이터 분리
postgres_data/

# --- 보안 및 설정 (필수) ---
# 비밀번호나 API 키가 담길 파일
.env

# --- 에디터 및 OS (선택) ---
.vscode/
.idea/
.DS_Store